<!DOCTYPE html>
<html>
    <head>
        <title>My First Vue App</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  <!-- include Vue -->
    </head>
    <body>
        <div id="app">     <!-- html node that Vue app will link to -->
            {{ message }}  <!-- double bracket notation to interpolate JS content -->
        </div>
        <br>
        <br>

        <div id="directive">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds to see my dynamically bound title!
            </span>
        </div>
        <br>
        <br>
        
        <div id="conditional">
            <span v-if="seen">Now you see me</span>
        </div>
        <br>
        <br>
        
        <div id="forArry">
            <ol>
                <li v-for="todo in todos">   <!-- written as forEach loop -->
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <br>
        <br>

        <div id="listener">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <br>
        <br>

        <script>
            var app = new Vue({     // initialize Vue - var can be named anything
                el: '#app',   // node (element) this Vue instance links to
                data: {       // data to be made available to node
                    message: "Hello World, this is my first Vue app!"
                }
            })

            var conditional = new Vue({
                el: "#directive",
                data: {
                    message: 'You loaded this page on ' + new Date().toLocaleString()
                }
            })

            var conditional = new Vue({
                el: '#conditional',
                data: {
                    seen: true  // any truthy value will cause v-if to be rendered
                }
            })

            var forArry = new Vue({
                el: "#forArry",
                data: {
                    todos: [
                        {text: 'Learn JS'},   // can be any kind of array, doesn't need to be an object
                        {text: 'Learn Vue'},
                        {text: 'Build something awesome'},
                        {text: 'Profit!'}
                    ]
                }
            })

            var listener = new Vue({
                el: "#listener",
                data: {
                    message: "!DOG!"
                },
                methods: {
                    reverseMessage: function() {
                        this.message = this.message.split('').reverse().join('')
                    }
                }
            })

        </script>
    </body>
</html>